.btn{
    background : #eee linear-gradient(to bottom,#fcfcfc,#eee);
    height: 34px;
    border : 1px solid #d5d5d5;
    border-radius:4px;
    display : inline-flex;
    align-items : center;
    padding: 0 12px;
    font-size : 14px;
    font-weight : 500;
    line-height : 1.5;
    cursor : pointer;
    box-sizing : border-box;
    position : relative;
  }
  .btn:hover::before{
    content:'';
    position : absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background : rgba(0,0,0,0.1);
  }
  .btn.btn--primary{
    border:1px solid #65b836;
    color : #fff;
    background : #55a532 linear-gradient(#91dd70, #55ae2e);
  }