/* MEDIA QUERY*/
@media screen and (max-width : 974px){
    header{
        background-color: RGB(65, 65, 65);
    }
    header .var{
        display: block;
    }
    header .interact{
        right :0;
    }
    header .menu{
        display: none;
    }   
    .info ul li{ 
        width: 50%;
    }   
    .gallery .galleryImages .wrapper{
        width: 20%;
        height: 150px; 
    }         
}