:root{
    /* spacing */
    --spacing-large : 20px;
    --spacing : 10px;
    --spacing-small : 5px;
    --spacing-micro : 3px;

    /* FONT SIZE */
    --font-title : 35px;
    --font-large : 20px;
    --font-medium : 17px;
    --font-medium-small : 15px;
    --font-small : 13px;
    --font-smaller : 12px;
    --font-smallest : 11px;
    --font-micro : 9px;

    /* color */
    --color-black : #12173e;
    --color-white : #fffffe;
    --color-yellow:#ffeb3b;
    /* gallery,text color */
    --color-dark-gray-gallery : #222222;
    --color-gray-gallery : #565656;
    --color-light-gray-gallery : #cccccc;
    --color-gray-text : #9b9b9a;
    /* Footer color */
    --color-gray-footer : #626262;
    --color-dark-gray-footer : #4b4b4b;
    --color-light-gray-footer-text : #d4d4d4;
}
*{
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border : none;
    box-shadow: none;
    border-radius: 0;
    padding : 0;
    overflow:visible; 
    cursor:pointer;
}
/* 구역 나누기  */
/* header{
    background-color: lightcoral;
}
header .interact{
    background-color: lightcyan;
}
header .logo{
    background-color: lightgreen;
}
header .main-menu{
    background-color: lightyellow;
}
header .menu-content{
    background-color: lightsalmon;
} */
/* ----------------- */

/* HEADER */
header{
    background-color: rgba(0,0,0,.4);
    /* 왜 position 설정하면 사이즈가 작아지지? default값 알아보자 */
    position:absolute;
    z-index: 1;
    width: 100%; 
}
header .wrapper{
    display: flex;
    justify-content: center;
    padding-top : 10px;
    position: relative;
}
header a{
    color : var(--color-light-gray-gallery);
}
header .var{
    display: none;
    font-size: 28px;
    position:absolute;
    left:10px;
}
header .interact{
    display: flex;
    font-size:var(--font-micro);
    position: absolute;
    top:10px;
    right: 100px;
}
header .interact li{
    padding : var(--spacing-small) var(--spacing)
}
header .interact i{
    color : var(--color-gray-text);
}
header .interact a{
    color : var(--color-white);
}
header .logo{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header .menu{
    width: 80%;
    min-height: 40px; 
    /* overflow: hidden; */
    margin : 0 auto;
}
header .menu a{
    color : var(--color-white);
}
header .main-menu{
    display: flex;
    font-size: var(--font-medium);
}
header .main-menu li{
    width: 13.4%;
    margin : 0 auto;
    text-align: center;

}

header .main-menu li a{
    display: block;
    font-weight: bold;
    padding :5px 0;
}
header .main-menu li a:hover{
    background-color: var(--color-yellow);
    color : var(--color-black);
}
header .menu-content{
    display: none;
    justify-content: space-between;
    padding-top : var(--spacing-large);
    font-size: var(--font-smaller);
}
/* header .visible{
    display: flex;
    justify-content: space-between;
    padding-top : var(--spacing-large);
    font-size: var(--font-smaller);
} */
header .menu-content li{
    flex-basis: 16.7%;
    text-align: center;
}
header .menu-content li a{
    display: block;
    margin-bottom : var(--spacing);
}
header .menu-content li a:hover{
   text-decoration: underline;
}

/* DISPLAY IMAGE */
.display{
    position: relative;
    width: 100%;
    height: 0;
    padding-top : 50%;
    overflow: hidden;
}
.display img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
.display .next_btn{
    position : absolute;
    top:50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.display .next_btn .btn{
    background-color: rgba(0,0,0,.8);
    width: 38px;
    height: 61px;
}
.display .next_btn i{
    color : var(--color-light-gray-gallery);
    font-size:25px;
}

/* Company Info */

.info ul{
    display: flex;
    justify-content: space-between;
}
.info ul li{
    color : var(--color-light-gray-gallery);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:var(--spacing-large) 0;
}
.info ul li:nth-child(odd){
    background-color: var(--color-dark-gray-gallery);
}
.info ul li:nth-child(2n){
    background-color: var(--color-gray-gallery);
}
.info li a i{
    color : var(--color-light-gray-gallery);
    font-size : 45px;
}
.info li a i:hover{
    color : var(--color-yellow);
}
.info li span{
    margin-top : 10px;
    font-size: 20px;
}

/* Sub Menu */
.sub-menu{
    padding : 50px 0px 40px;
}

.sub-menu .container-sub-menu{
    display: flex;
    justify-content: space-around;
}

.sub-menu .content-img img{
    width: 65px;
    height: 40px;
}
.sub-menu .container-sub-menu .title{
    color : inherit;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom:10px;
}
.sub-menu .container-sub-menu .content{
    display: flex;
    flex-direction: column;
    font-size: 11px;
}
.sub-menu .container-sub-menu .content .metadata{
    display: flex;
    justify-content: space-between;
}
.sub-menu .container-sub-menu .content .metadata a{
    display: block;
    padding-top : 4px;
    color : var(--color-gray-text);
}

/* Gallery */
.gallery{
    display: flex;
    flex-direction: column;
    margin-bottom : 30px;
}

.gallery .title{
    /* display: block; */
    font-size : 35px;
    text-align: center;
    margin: 0 0 10px;
    
}
.gallery hr{
    background-color: var(--color-black);
    height: 3px;
    width: 50px;
    border : 0;
    margin-bottom : 10px;
}
.gallery .text{
    /* display: block; */
    font-size : 15px;
    margin-top: 20px;
    margin-bottom : 10px;
    text-align: center;
}
.gallery .galleryImages{
    display: flex;
    flex-direction: column;
    /* a tag로 인한 여백 없애기 위함 */
    font-size: 0px;
}
.gallery .galleryImages .row1,.row2{
    display: flex;
    position: relative;
}
.gallery .galleryImages .wrapper{
    width: 20%;
    height: 200px; 
    position: relative;
    transition-duration: 1s;
}
.gallery .galleryImages .wrapper:hover::before{
    content: "";
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    background : rgba(0,0,0,0.4);
    cursor: pointer;
    transition-delay: 0.5s;
}
.galleryImages img{
    width: 100%;
    height: 100%;
}

/* Contact */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 35px;
    margin: 10px 0;
}

.contact .title{
    /* display: block; */
    font-size : 35px;
    text-align: center;
    margin: 0 0 10px;
    
}
.contact hr{
    background-color: var(--color-black);
    height: 3px;
    width: 50px;
    border : 0;
    margin-bottom : 10px;
}

.contact .text{
    /* display: block; */
    font-size : 15px;
    margin-top: 20px;
    margin-bottom : 10px;
    text-align: center;
    color :var(--color-gray-footer);
}
.contact .map-wrapper{
    max-width: 990px;
    width: 100%;
    height: 400px;
}
#map{
    width: 100%;
    height: 400px;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom: none;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    box-sizing: border-box;
}

/* Footer */
.sub-info{
    background-color: var(--color-gray-footer);
    display: flex;
    justify-content: center;
}
.sub-info ul{
    display: flex;
}
.sub-info ul li{
    padding : 8px 0;
}
.sub-info ul li a{
    display : block;
    color : var(--color-light-gray-footer-text);
    font-size : 12px;
    padding : 0 8px;
    border-right : 1px solid var(--color-light-gray-footer-text);
}
.sub-info ul li:nth-child(4) a{
    border:none;
}

.about{
    padding : 20px 0;
    background: var(--color-dark-gray-footer);
    color : var(--color-light-gray-footer-text);
    border-bottom: 1px solid #828282;
    display : flex;
    justify-content: center;
}
.about .container-about{
    display: flex;
}
.about .container-about li{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.about .container-about .title{
    padding : 15px 0 10px;
    font-size: 12px;
    font-weight: bold;
}
.about .container-about .text{
    font-size: 11px;
    line-height: 2;
}
.about .container-about .icons{
    display:flex;
}
.about .container-about .icons li{
    margin-right:8px;
}
.about .container-about .icons a{
    color : var(--color-light-gray-footer-text);
    font-size : 25px;
}
.about .container-about .icons a:hover{
    color : var(--color-white);
}
.license{
    background-color: var(--color-dark-gray-footer);
    padding: 15px 0;
    color:var(--color-light-gray-footer-text);
    font-size : 12px;
    text-align: center;
}
