body{
    display: flex;
    justify-content: center;
    background-color: RGB(56, 60, 69);
}
.container{
    width: 400px;
    padding : 60px;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
/* LOGO */
.logo{
    margin:auto;
}
.logo img{
    width: 80px;
}

/* NAV */
nav{
    width: 100%;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: flex;
    align-items: center;
}
nav ul li img{
    width: 40px;
}
button{
    border : none;
    background-color:transparent;
    outline: none;
    font-weight: bold;
}
button.btn--blue{
    height: 70%;
    background-color:#347bbb;
}
button.btn--yellow{
    height: 70%;
    background-color:RGB(248, 181, 37);
}
button.btn--pink{
    height: 70%;
    background-color:RGB(255, 116, 122);
}
button:hover{
    cursor: pointer;
    transform:scale(1.2);
}
/* MENU-LIST */
.menu-list{
    font-weight: bold;
    width: 100%;
    height: 600px;
    overflow:scroll;
}
.menu-list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: 100%; /* Firefox */
}
.menu-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.menu-list ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu-list ul li{
    padding : 5px 18px;
    /*  */
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    margin-bottom: 10px;
}
.menu-list ul li img{
    width: 40px;
}
.menu-list ul li .text{
    display: flex;
    align-items: center;
    margin-left : 20px;
}