:root{
    /* COLOR */
    --color-dark-blue: RGB(37, 50, 69);
    --color-white : #fff;
    --color-orange : #d49466;

    /* SIZE */
    --font-large : 20px;
    --font-regular : 16px;
    --font-medium : 14px;
    --font-small : 12px;

    /* SPACE */
    --spacing-large : 16px;
    --spacing : 12px;
    --spacing-small : 6px;
    
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color : var(--color-white)
}

nav{
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding :var(--spacing-large) var(--spacing)
}
/* LOGO */
.nav__logo{
    display: flex;
    align-items: center;
}
.nav__logo a{
    font-size: var(--font-large);
}
.nav__logo i{
    padding : 0 var(--spacing-small);
    color : var(--color-orange);
}
/* MENU */
.nav__menu{
    display: flex;
    font-size: var(--font-medium);
}
.nav__menu li{
    padding: var(--spacing);
}
.nav__menu li a{
    padding: var(--spacing);
}
.nav__menu li:hover{
    background-color: var(--color-orange);
    border-radius: 4px;
}
/* ICONS */
.nav__icons{
    font-size: var(--font-medium);
}
.nav__icons i{
    padding : var(--spacing-small)
}
/* nav bar */
.nav__bar{
    position: absolute;
    right : 32px;
    display: none;
}
.nav__bar i{
    color : var(--color-orange);
    font-size: var(--font-large);
}


@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav__menu{
        display: none;
        margin-top:var(--spacing);
        flex-direction: column;
        width: 100%;;
    }
    .nav__menu li{
        width: 100%;
        text-align: center;
    }
    .nav__icons{
        display: none;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .nav__bar{
        display: block;
    }
   .active{
        display: flex;
    }
}
