:root{
    /* COLOR */
    --color-red:#fe0000;
    --color-black: #140a00;
    --color-white: #ffffff;
    --color-blue:#045fd4;
    --color-light-gray:#EFEFEF;
    --color-dark-gray:#909090;
    /* SIZE */
    --spacing : 12px;
    --spacing-small : 6px;
    --avatar-size : 36px;
    /* FONT-SIZE */
    --font-large : 20px;
    --font-regular : 16px;
    --font-medium:14px;
    --font-small : 12px;
    --font-micro:10px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Roboto;
    line-height: 1.2;
  }
button{
    border : none;
    background-color: var(--color-light-gray); 
    outline: none;
    /* 버튼 클릭할 때 버튼 속성인 아웃라인 나오는데 그거 없앤거 */
}
button:hover{
    cursor: pointer;
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    background-color: var(--color-black);
}

header .logo{
    font-size: var(--font-large);
}
header .logo i{
    color: var(--color-red);
}
header .logo .title{
    color : var(--color-white)
}
header .icons i{
    color : var(--color-white)
}
header .icons>i{
    margin-right : var(--spacing)
}
/* VIDEO PLAYER*/
.player{
    display: flex;
    background-color: var(--color-black);
    justify-content: center;
}
.player .video-ratio{
    max-width: 1000px;
    /* align-items: center; */
}

.player .video-ratio video{
    width: 100%;
    height: 100%;
}

/* VIDEO DESCRIPTION */
.description{
    padding : var(--spacing)
}
.description .hashtags{
    display: flex;
    font-size: var(--font-small);
    color : var(--color-blue);
    /* margin-bottom:var(--spacing-small); */
}
.description .titleAndBtn{
    display: flex;
}

.description .titleAndBtn .title{
    font-size: var(--font-medium);
    margin-right: var(--spacing);
}
.description .titleAndBtn .visible{
    /* WEBKIT LINE CLAMP */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: title;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.description .titleAndBtn .btnMore{
    height: 100%;
    transition: transform 300ms ease-in-out;
}
.description .titleAndBtn .clicked{
    transform : rotate(180deg);
}
.description .viewAndTime{
    color : var(--color-dark-gray);
    font-size: var(--font-small);
}

.description .btns{
    margin : var(--spacing) 0;
    display: flex;
    justify-content: space-around;
}

.description .btns .btn{
    margin-right: var(--spacing);
}

.description .btns button{
    padding : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color : var(--color-dark-gray);
    /* align-items: center; */
}
.description .btns button i{
    font-size: var(--font-regular);
    margin-bottom: var(--spacing-small);

}
.description .btns button .active{
    color : var(--color-blue);
}
.description .btns button .btnInfo{
    font-size: var(--font-small);
}

/* YOUTUBER INFO */
.info{
    display: flex;
    justify-content: space-between;
    border-top:1px solid var(--color-light-gray);
    border-bottom:1px solid var(--color-light-gray);
}

.info .youtuberInfo{
    display: flex;
    align-items: center;
    padding:var(--spacing-small) 0;
}
.info .youtuberInfo img{
    width: var(--avatar-size);
    border-radius: 50%;
    margin-right: var(--spacing);
}
.info .youtuberInfo .info-detail{
    display: flex;
    flex-direction: column;
    padding : var(--spacing);
}
.info .youtuberInfo .name{
    font-size: var(--font-medium);
}
.info .youtuberInfo .subscriber{
    color:var(--color-dark-gray);
    font-size: var(--font-small);
}
.info .btn{
    text-transform: uppercase;
    font-size : var(--font-medium);
    color : var(--color-red);
}

/* UP NEXT */
.upNext{
    padding : 0 var(--spacing);
}

.upNext>.title{
    color : var(--color-dark-gray);
    font-size : var(--font-medium);
}

.upNext .videos .item--videos{
    margin-top: var(--spacing);
    display: flex;
}
.upNext .videos .item--videos .image{
    flex-basis:35%;
    margin-right: var(--spacing);
}
.upNext .videos .item--videos .image img{
    width: 100%;
}
.upNext .item--videos .info--upNext{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}
.upNext .item--videos .info--upNext .title{
    color : var(--color-black);
    font-size: var(--font-small);
}
.upNext .item--videos .info--upNext .name{
    color : var(--color-dark-gray);
    font-size: var(--font-micro);
}
.upNext .item--videos .info--upNext .views{
    color : var(--color-dark-gray);
    font-size: var(--font-micro);
}
.upNext .videos .item--videos button{
    flex-basis: 5%;
    height: 100%;
    /* height = 100%적었더니 왜 줄지 아하 부모 height값이 없어서 적용되지 않는 것. px로 하면 적용 된다. 글고 
    부모 height를 지정하니 그제야 100%가 적용 됨.*/
}

/* MEDIA QUERY*/
@media screen and (min-width : 768px){
    .media{
        display: flex;
    }
}
/* JS  ? 안되는디*/



