:root{
    /* COLOR */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
    /* SIZE */
    --base-space : 8px;
    --size-button : 60px;
    --size-border : 4px;
    --size-thumbnail : 50px;
    --size-font : 18px;
    /* ANIMATION */
    --animation-duration : 300ms;
}
body{
    height: 100vh;
    /* body는 요소들의 크기만큼 높이가 설정이 돼서 높이를 뷰포트만큼 설정해
    주지 않으면 가운데 정렬 시 x축은 가운데 정렬이 된다고 하더라도 y축은 화면의 
    가운데가 아니라 body의 가운데, 즉 화면의 위쪽으로 요소들이 정렬된다.
    그래서 화면의 정 가운데에 요소를 배치하고 싶다면 body의 height를 뷰포트만큼
    늘려주는 것이 필요함 */
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* LOGO */
.logo{
    cursor :pointer;
    /*  */
    transition:transform var(--animation-duration) ease;
}
/* MENU BUTTONS */
.btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition:transform var(--animation-duration) ease;
    margin-right: var(--base-space);
}
.btn:hover,
.logo:hover{
    transform: scale(1.1);
}
.buttons{
    display: flex;
    align-items: center;
}
.imgBtn{
    width : var(--size-button);
    height: var(--size-button);
}
.colorBtn{
    font-size: var(--size-font);
    /* 버튼의 크기를 키우기 위해 패딩 설정 */
    padding: calc(var(--base-space)*2);
    border-radius:var(--size-border) ;
}
.blue{
    background-color: var(--color-blue);
}
.yellow{
    background-color: var(--color-yellow);
}
.pink{
    background-color: var(--color-pink);
}

/* ITEMS */
.items{
    /* list스타일 리셋 */
    list-style: none;
    padding-left:0;
    /* window의 60%씩 반응형으로 설정해 고정된 크기의 목록 생성*/
    width: 60%;
    height: 60%;
    overflow-y: scroll;
}
.item{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: var(--base-space);
    margin-bottom: var(--base-space);

}
.item__thumbnail{
    width:var(--size-thumbnail);
    height: var(--size-thumbnail);
}
.item__description{
    margin-left: var(--base-space);
    font-size: var(--size-font);
}

.invisible{
    display: none;
}